<h1>{{ title }}</h1>
<small *ngIf="todos.length == 0">Você não tem tarefas para hoje</small>
<ul>
  <li *ngFor="let item of todos">{{ item.id }}. {{ item.task }} |
    <button type="button" *ngIf="!item.done" (click)="markAsDone(item)">Concluir</button> |
    <button type="button" *ngIf="item.done" (click)="markAsRedo(item)">Refazer</button> |
    <button type="button" (click)="remove(item)">Remover</button>
  </li>
</ul>

<form [formGroup]="taskform">
  <fieldset>
    <label>Tarefa: </label>
    <input type="text" title="Adicionar tarefa" placeholder="Descrição da tarefa" maxlength="60" formControlName="title">
    <small *ngIf="taskform.controls.title.invalid && !taskform.controls.title.pristine">Este campo deve conter entre 3 e 60 caracteres</small>
    <button type="button" [disabled]="taskform.invalid" (click)="add()">Adicionar</button>
  </fieldset>
</form>
